* text=auto
*.v text eol=lf
*.vhd text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.ino text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.ps1 text eol=lf
*.sof binary
*.pof binary
*.uf2 binary
*.bin binary
*.qsf text eol=lf
*.qpf text eol=lf
*.sdc text eol=lf
*.qsys text eol=lf
*.sopcinfo text eol=lf
*.cdb binary
*.hdb binary
